* {
    margin: 0;
    padding: 0;
}

.image img{
    height: 500px;
    width: 500px;
    padding: 5px;

}
.main h1{
    display: flex;
    justify-content: left;
    padding: 5px;
}

p{
     font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}
.secondimage{
    display: flex;
    height: 200px;
    width: 200px;
    padding: 5px;

}
body{
    background-color: rgb(25, 199, 211);
}
.third-image{
    height: 200px;
    width: 200px;
}
p{
    text-align: center;
}

@media (min-width: 700px) {

    p{
        text-align: center;
    }
    h1{
        color: red;
    }
    .image img {
        padding: 5px;
        height: 300px;
        width: 300px;
        border-radius: 5px;
    
    }
    .main h1{
        display: flex;
        justify-content: center;
    }
    p{
        color: green ;
    }
    .secondimage img {
        padding: 5px;
        height: 300px;
        width: 300px;
        border: 1px;
        border-radius: 5px;
    }
}